/.venv
__pycache__

# ignore certain files
*.pyc
*.swp
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.7z

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.app
*.o
*.so


# system files
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
